@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a webb application for createing your own personal schema.</p>
<p>You can randomize a schema for you or can create if from the very start.</p>
