@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Linnégatan 12<br />
    Kalmar, KA 39234<br />
    <abbr title="Phone">P:</abbr>
    0707981878
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sverker.soderlund@hotmail.se">sverker.soderlund@hotmail.se</a><br />
</address>