@model IEnumerable<Schema_Application.ViewModels.ActivityViewModel>

<select id="activity" name="ActivityId">
    @foreach (var activity in Model)
    {
        <option value="@activity.ActivityId">
            @activity.Name
        </option>
    }
</select>