@model IEnumerable<Schema_Application.ViewModels.WeekDayViewModel>

@foreach (var day in Model)
{
    <label for="dayOfWeek">@day.Day</label> <input type="radio" name="WeekDayId" value="@day.WeekDayId" />
}