
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSchema</title>
</head>
<body>
    <div> 
        @using(@Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            <div class="form">

            </div>
        }
    </div>
</body>
</html>
