@model IEnumerable<Schema_Application.ViewModels.WeekDayViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Schema</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    
    @Html.Partial("_ShowSchema")
    
</body>
</html>
