@model IList<Schema_Application.ViewModels.RandomizeActivitySummeriesViewModel>


@{
    ViewBag.Title = "RandomizeSchema2";
    Layout = "~/Views/Shared/_LayoutSchema.cshtml";
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "schema-container",

    };
}

<div class="page-header">
    <h2>Randomize Schema</h2>
</div>

<div id="page-container">
    <div class="information-container" id="generate-activity-group-container">
        <div class="form-group" id="activity-holder">

        </div>
        <div class="form-group">
            <input type="button" id="generateNewActivity" class="btn btn-default" value="Get new activity" />
        </div>
    </div>
    <div class="information-container" id="activity-group-container">
        @using (Ajax.BeginForm(ajaxOptions))
        {

            <div class="form-group" id="generate-schema-container">
                <input type="submit" id="generateSchema" class="btn btn-default" value="Generate schemas!" />
            </div>
            <div id="activity-summeries-holder">
                
            </div>
        }
        
    </div>
    <div id="schema-container" class="information-container">

    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/AppSpecificScripts/get-information.js")
    @Scripts.Render("~/Scripts/AppSpecificScripts/randomize-schema.js")
    @Scripts.Render("~/bundles/ajax")
}