@model Schema_Application.ViewModels.RandomizeSchemaViewModel

@{
    ViewBag.Title = "RandomizeSchema2";
    Layout = "~/Views/Shared/_LayoutSchema.cshtml";
}

<h2>RandomizeSchema2</h2>

<div>
    <div class="form-group">

    </div>
</div>