body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    width:1500px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*CSS for schema in _ShowSchema*/
.table-column{
    float:left;
    width:200px;
    max-width:250px;
    text-align:center;
    
}
.table-head{
    text-align:center;
}
.table-cell{
    border:1px solid black;
    height:200px;
}

/*Form in CreateSchema.cshtml*/
.form{
    margin:30px;
}


/*RandomizeSchemaView2*/
.information-container{
    border:1px solid black;
    border-radius:5px;
    padding:20px;
    margin-top:20px;
}

#activity-group-container{

    height:700px;
}

/*Button that randomize schemas*/
#generateSchema{
}

#activity-summeries-holder{
    overflow-x:auto;
    max-height:550px;
    height:550px;
}

#generate-activity-group-container{

}

#generate-schema-container{
    margin-bottom:20px;
    height:100px;
}

.randomize-activitysummery{
    border:1px solid black;
    border-radius:5px;
    padding:20px;
    margin:20px;
}

.randomize-group{
    border-bottom: 1px solid grey;
    padding:20px;
}
.text-information-holder{
    width:50%;
}